<form method="POST" action="/new">
  <div>
    <label for="name">Name: </label>
    <input type="text" id="name" name="user" placeholder="name" required>
  </div>

  <div>
    <label for="message">Message: </label>
    <textarea id="message" name="text" placeholder="message" required></textarea>
  </div>

  <button type="submit">Submit</button>
</form>