<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
</head>
<body>
  <%- include("./partials/navbar.ejs") %>
  <h1>Login</h1>
  <form method="POST" action="/login">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="username" required>
    </div>
  
    <div>
      <label for="password">Password: </label>
      <input id="password" name="password" type="password" placeholder="password" required></input>
    </div>
  
    <button type="submit">Submit</button>
</body>
</html>